@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&family=Outfit:wght@400;700&family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(220, 15%, 55%);
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
}

.card{
    max-width: 350px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    padding: 1.5rem;
    margin: 0 1rem;
    border-radius: 1rem;
}

.card img{
    width: 100%;
    border-radius: 1rem;
}

.texts{
    margin: 1.5rem 1rem;
    text-align: center;
}

.texts h2{
    padding-bottom: 1rem;
    color: hsl(218, 44%, 22%);
}

.texts p{
    color: hsl(212, 45%, 89%);
}